/* couleurs */
/* 
bleu: #0065FC
bleu clair #DEEBFF
gris : #F2F2F2 */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
input {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

main {
  width: 90vw;
  max-width: 1300px;
  margin: auto;
}

h1 {
  font-size: clamp(25px, 1rem + 1.5vh, 35px);
}

h2 {
  font-size: clamp(18px, 1rem + 1vh, 25px);
}

h3 {
  font-size: clamp(14px, 0.8rem + 0.2vh, 18px);
}

p {
  font-size: 14px;
}
/* Header and nav */
header {
  width: 90vw;
  max-width: 1300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
}

.page-links {
  display: flex;
  flex-flow: row nowrap;
}

nav > ul > li {
  margin-left: 5vh;
  list-style: none;
  padding: clamp(20px, 4vh, 50px) clamp(20px, 1.5vw, 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-links ul {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.page-links ul li {
  margin-left: 5vw;
  list-style: none;
  color: #f2f2f2;
}

.logo {
  justify-self: flex-start;
  position: absolute;
  height: 50%;
  left: 0;
  top: 25%;
  padding: 0;
  margin-left: 0;
}

nav ul li a,
nav ul li a:active,
nav ul li a:visited {
  text-decoration: none;
  color: #0065fc;
}

#link-activites,
#link-activites :active,
#link-activites :visited {
  color: black;
}

#homes,
#homes a:visited,
#homes a:active {
  color: #0065fc;
}

#signup {
  font-weight: 700;
  color: #0065fc;
}

/* Search-Box Section */
h1 {
  margin-bottom: 1vh;
}

.search-bar {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2vh;
}

.search-bar > div {
  padding: 1vh 1.5vh;
}

.search-icon {
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.search-field {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.search-field input {
  font-weight: 700;
  border: none;
}

.search-button {
  background: #0065fc;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 0.8em;
}

.search-button i {
  display: none;
  color: white;
}

/* Splash Filtres */
.filters-container {
  display: flex;
  flex-flow: row wrap;
  padding: 3vh 0;
  align-items: center;
}

.filters-container p {
  font-weight: 700;
  margin-right: 2vw;
}

.filters {
  display: flex;
  flex-flow: row wrap;
}

.filter {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  margin: 1vh 1vw;
  height: clamp(40px, 4vh, 70px);
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  align-items: center;
  padding-right: clamp(10px, 3vw, 15px);
}

.filter i {
  background: #deebff;
  color: #0065fc;
  width: calc(clamp(40px, 4vh, 70px) + 2px);
  height: calc(clamp(40px, 4vh, 70px) + 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  transform: translateX(-2px);
}

.filter p {
  margin: 0 1vw;
}

.filter:hover {
  cursor: pointer;
  background: #deebff;
  transition: all 0.2s ease-in-out;
}

.filter:hover i {
  color: white;
  background: #0065fc;
  transition: all 0.2s ease-in-out;
  transform: translateX(5px);
}

/* Partie message */
.message-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.message-info i {
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  width: 2vh;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 1vw;
}

/* Partie hebergements */

.hebergements {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* Bloc de gauche */

.main-hebergements {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 3vh 1vw 5vh 3vw;
  margin: 5vh 1vw 5vh 0;
  flex: 3 70vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.main-hebergements h2 {
  margin: 2vh 0 3vh 0;
}

.main-hebergements a {
  text-decoration: none;
  color: unset;
  font-weight: 700;
}

.houses-containers {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.house-spotlight {
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 15px 10px rgba(0 0 0 / 5%);
  border: 5px white solid;
  overflow: hidden;
  margin-bottom: 3vh;
  margin-right: 3vh;
}

.main-hebergements .house-spotlight {
  flex: 1 220px;
  height: clamp(160px, 18vh, 300px);
}

.house-spotlight img {
  width: 100%;
  height: auto;
}

#cannebiere {
  background-image: url(img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#port {
  background-image: url(img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#mouettes {
  background-image: url(img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#mer {
  background-image: url(img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#panier {
  background-image: url(img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#amina {
  background-image: url(img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.spotlight-picture {
  height: 50%;
  width: 100%;
}

.spotlight-label {
  padding: 1.5vh 1.5vh 0 1.5vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.spotlight-label p {
  margin: 5px 0;
}

.spotlight-label p span {
  font-weight: 700;
}

.spotlight-label i {
  font-size: clamp(10px, 1vh, 13px);
  margin-bottom: 1vh;
}

.blue-star {
  color: #0065fc;
}

.grey-star {
  color: #deebff;
}

.show-more {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: clamp(16px, 1em + 0.1vh, 20px);
}

/* Partie de droite */

.secondary-hebergements {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 3vh 2vw;
  margin: 5vh 0;
  flex: 1 30vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.secondary-hebergements a {
  text-decoration: none;
  color: unset;
}

.secondary-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 0;
}

.secondary-hebergements .houses-containers {
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
}

.secondary-hebergements .house-spotlight {
  display: flex;
  flex-flow: row nowrap;
  margin-right: unset;
  width: 95%;
  height: 13vh;
  min-height: fit-content;
  padding-bottom: unset;
}

.secondary-hebergements .spotlight-picture {
  width: 13vh;
  height: 100%;
}

.secondary-hebergements .spotlight-label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 85%;
}

#soleil {
  background-image: url(img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  min-width: 13vh;
}

#coeur {
  background-image: url(img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-position: center;
  background-size: cover;
  min-width: 13vh;
}

#bleu-blanc {
  background-image: url(img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  min-width: 13vh;
}

/* Partie activités */

.activites-mosaique {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.mosaique-column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 20%;
  justify-content: space-between;
  height: clamp(500px, 50vh, 700px);
  width: clamp(300px, 20%, 400px);
  margin: 3vh 2vw 3vh 0;
}

.mosaique-content {
  border-radius: 20px;
  box-shadow: 0 0 15px 10px rgba(0 0 0 / 5%);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: unset;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.activites-mosaique :nth-child(4) {
  margin: 3vh 0;
}

.mosaique-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  padding-left: 1vw;
}

.mosaique-image {
  flex: 1 0 auto;
}

.two-thirds {
  flex: 2;
}

.one-third {
  flex: 1;
}

.top-mosaic {
  margin-bottom: 2vw;
}

#port-mosaique {
  background-image: url(img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

#pomegues {
  background-image: url(img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

#frioul {
  background-image: url(img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

#calanques {
  background-image: url(img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

#garde {
  background-image: url(img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

#longchamp {
  background-image: url(img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

/* Footer */

footer {
  width: 100vw;
  background: #f2f2f2;
  margin-top: 5vh;
  padding: 5vh 0;
}

.footer-content {
  width: 90vw;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
}

.footer-col {
  margin-right: 10vw;
}

.footer-col h3 {
  margin-bottom: 2vh;
}

.footer-col li {
  list-style: none;
  margin-bottom: 1vh;
  font-size: 14px;
}

/* Media queries */

/* Small Laptop */
@media screen and (max-width: 1200px) {
  .secondary-hebergements {
    height: fit-content;
    min-width: 339px;
  }
  .mosaique-column {
    min-width: 200px;
    max-width: 50vw;
  }
}

/* Tablet */
@media screen and (max-width: 850px) {
  header {
    width: 100vw;
    margin-bottom: 5vh;
  }
  nav ul {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  main {
    width: 100vw;
  }
  .logo {
    order: 1;
    width: 30vw;
    padding: 2vh 0;
    position: initial;
    margin-left: 3vw;
  }
  #signup {
    order: 2;
    width: 30vw;
  }
  .page-links {
    width: 100vw;
    order: 2;
    flex-flow: row nowrap;
    order: 3;
    margin-left: 0;
    padding: 0;
  }

  .page-links li {
    width: 50vw;
    padding: 2vh 0 2vh 0;
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-links ul li {
    margin-left: 0;
  }

  #homes {
    border-bottom: 4px solid #0065fc;
    border-top: none;
  }
  .page-links li:nth-child(2) {
    border-bottom: 4px solid #f2f2f2;
  }
  .splash-search {
    padding: 0 5vw;
  }

  .hebergements {
    flex-flow: column-reverse nowrap;
  }
  .secondary-hebergements {
    width: 70vw;
    padding: 5vh 5vw;
    margin: auto;
    background: white;
  }
  #activites {
    padding: 0 5vw;
  }
}

/* Phone */
@media screen and (max-width: 650px) {
  .splash-search {
    width: 90vw;
    margin: auto;
  }

  .search-button a {
    display: none;
  }
  .search-button i {
    display: block;
  }
  .filters-container {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .filters {
    margin-top: 1vh;
  }
  .filter {
    margin: 1vh 1vh 1vh 0;
  }

  .main-hebergements {
    order: 1;
    background: unset;
    width: 90vw;
    margin: auto;
    padding: 3vh 0;
  }

  .main-hebergements .house-spotlight {
    margin-right: 0;
    height: clamp(200px, 18vh, 300px);
  }

  .main-hebergements .spotlight-picture {
    height: 60%;
  }

  .secondary-hebergements {
    padding: 3vh 0;
    margin-top: 5vh;
    border-radius: 0;
    width: 100vw;
    background: #f2f2f2;
    order: 2;
  }

  .secondary-title {
    margin: 3vh auto 5vh auto;
    width: 90vw;
  }

  .secondary-hebergements .houses-containers {
    width: 90vw;
    margin: auto;
  }

  .secondary-hebergements .house-spotlight {
    height: calc(150px + 4vh);
    width: 87vw;
  }
  .secondary-hebergements .spotlight-picture {
    width: calc(150px + 4vh);
  }

  .secondary-hebergements .spotlight-label {
    flex: 1 1 60%;
  }

  #activites {
    width: 90vw;
    margin: auto;
  }

  .activites-mosaique {
    flex-flow: column nowrap;
    width: 90vw;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    padding: unset;
    margin-top: 2vh;
  }

  .mosaique-content {
    margin: 3vh 0;
  }

  .mosaique-column {
    flex: 1;
    margin: 0 !important;
    height: unset;
    width: 100%;
    max-width: unset;
    min-width: unset;
  }

  .top-mosaic {
    margin-bottom: 2vh;
  }

  .column-1 {
    height: 35vh;
  }

  .column-2 {
    height: 70vh;
  }

  .mosaique-label {
    height: 7vh;
    padding-left: 5vw;
  }

  .one-third {
    flex: 1;
  }
  .full-height {
    flex: 1;
  }
  .two-thirds {
    flex: 1;
  }

  .footer-content {
    flex-flow: column nowrap;
  }

  .footer-col {
    margin-bottom: 5vh;
  }
}
